<section class="seccion-noticias">
  <h2 class="titulo-seccion">PODCASTS</h2>

  <div *ngIf="errorMessage" class="alert alert-danger">
    {{ errorMessage }}
  </div>


  <div class="contenedor-tarjetas">
    <div class="tarjeta" *ngFor="let podcast of podcasts">
      <div class="marco-tarjeta">
        <div class="contenido-interno">
          <img [src]="podcast.coverImage" [alt]="podcast.title" class="imagen-tarjeta" />
          <h3 class="titulo-tarjeta">{{ podcast.title }}</h3>
        </div>
      </div>
    </div>
  </div>




       <div class="fila-inputs">
      <a [routerLink]="['/podcast-show']"  class="boton-contacto">Ver más</a>
     </div>

</section>
